<!DOCTYPE html>
<html xmlns:th = "http:// www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>상품 리스트 출력 예제</h1>  <!-- 리스트를 출력하는 방식으로는 th:each를 사용 -->

  <table border ="1">
    <thead>
      <tr>
        <td>순번</td>
        <td>상품명</td>
        <td>상품설명</td>
        <td>가격</td>
        <td>상품등록일</td>
      </tr>
    </thead>
    <tbody>
      <tr th:each="itemDto, status:${itemDtoList}"> <!-- 전달받은 itemDtoList에 있는 데이터를 하나씩 꺼내와서 itemDto에 담아주어 java의 for문 처럼 반복한다.-->
        <td th:text="${status.index}"></td>  <!-- 현재 순환하고 있는 데이터의 인덱스를 출력함-->
        <td th:text="${itemDto.itemNm}"></td>
        <td th:text="${itemDto.itemDetail}"></td>
        <td th:text="${itemDto.price}"></td>
        <td th:text="${itemDto.regTime}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>


